---
import Layout from '@layouts/Layout.astro';
import TopCompanyInfo from '@components/Top/CompanyInfo.astro';
import TopicTopicsCarousel from '@components/Topic/TopicsCarousel.astro';
---

<Layout title="GeekBeer">
    <div class="flex justify-center items-center font-bold text-6xl m-40">
        Sorry, page not found!
    </div>
</Layout>