---
import Layout from "@layouts/Layout.astro";
---

<Layout title="法人情報">
    <div class="mx-40">
        <div class="font-bold text-3xl text-center m-16">法人情報</div>
        <div class="m-auto my-16">
            <div class="flex">
                <div class="w-1/4">法人名</div>
                <div class="w-3/4">一般社団法人日本狩猟協会</div>
            </div>
            <div class="divider my-2"></div>
            <div class="flex">
                <div class="w-1/4">住所</div>
                <div class="w-3/4">287-0225 千葉県成田市吉岡368-91</div>
            </div>
            <div class="divider my-2"></div>
            <div class="flex">
                <div class="w-1/4">代表理事</div>
                <div class="w-3/4">
                    <a
                        href="https://twitter.com/yunoda_3DCG"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="text-orange"
                    >
                        yunoda
                    </a>
                </div>
            </div>
            <div class="divider my-2"></div>
            <div class="flex">
                <div class="w-1/4">理事</div>
                <div class="w-3/4">
                    <a
                        href="https://twitter.com/yunoda_3DCG"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="text-orange"
                    >
                        tokisaba
                    </a>
                    <br />
                    <a
                        href="https://twitter.com/yunoda_3DCG"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="text-orange"
                    >
                        tokutani
                    </a>
                </div>
            </div>
            <div class="divider my-2"></div>
            <div class="flex">
                <div class="w-1/4">創立日</div>
                <div class="w-3/4">2024年8月30日</div>
            </div>
            <div class="divider my-2"></div>
            <div class="flex">
                <div class="w-1/4">電話番号</div>
                <div class="w-3/4">
                    非公開。ご入用の際はSNSアカウントよりお問い合わせください。
                </div>
            </div>
        </div>
    </div>
</Layout>
