---
import Layout from "@layouts/Layout.astro";
---

<Layout title="会員になるには">
    <div class="mx-40">
        <div class="text-center text-4xl font-bold m-12">会員になるには</div>
        <div class="my-16">
            日本狩猟協会では、時期を問わず会員を募集しています。<br />
            注意点として、当協会は非営利型一般社団法人であるため、<strong>基本的にはボランティア活動</strong>になります。<br />
            活動にかかる経費も寄付による工面に頼ることになるため、活動費等も十分にお出しできないことをご了承ください。<br
            />
            それでも日本の狩猟業界を良くしたいという志のある方は、われわれも最大限バックアップいたしますので、ぜひお気軽にコンタクトをいただければと思います。
        </div>
        <div class="bg-gray-200 rounded-xl p-8">
            <p>
                <i class="ph ph-cards"></i>
                現在募集中のポジションは<a
                    href="/recruitment"
                    class="text-blue-500 underline hover:text-blue-700"
                    >こちら</a
                >。
                ここにないスキルでもあなたを活かすポジションは無数にありますので、ぜひお気軽にコンタクトください。
            </p>
        </div>
        <div class="container mx-auto p-6">
            <div class="my-16">
                <h1 class="text-2xl font-bold mb-4">注意事項</h1>
                <ul class="list-disc list-inside space-y-2">
                    <li class="text-lg">入会費、会費はありません。</li>
                    <li class="text-lg">
                        週一回の進捗確認ミーティングがあります。
                    </li>
                    <li class="text-lg">
                        非営利型一般社団法人のため、活動に対する報酬はありません。
                    </li>
                    <li class="text-lg">
                        自分ができることで貢献していただけるだけで大丈夫です！
                    </li>
                    <li class="text-lg">
                        退会は自由です。狩猟環境の変化や鉄砲引退も含めてご相談ください。
                    </li>
                </ul>
            </div>
            <div class="my-16">
                <h2 class="text-2xl font-bold mb-2">入会の流れ</h2>
                <ol class="list-decimal list-inside space-y-2">
                    <li class="text-lg">
                        X, discord,
                        facebookのいずれかで入会表明をポストしてください
                    </li>
                    <li class="text-lg">
                        協会メンバーからのご連絡差し上げます
                    </li>
                    <li class="text-lg">
                        ヒアリングと活動内容の説明をオンラインで行います
                    </li>
                    <li class="text-lg">
                        正式入会するかどうか決めてもらいます
                    </li>
                    <li class="text-lg">メンバーとの顔合わせをします</li>
                </ol>
            </div>
        </div>
    </>
</Layout>
