---
const { house_data, title, image, description, link, tags } = Astro.props;
import { Image } from 'astro:assets';

---

<a href={ link } class="card bg-base-100 w-auto shadow-xl">
    <figure>
      <Image
        src={ house_data.cover }
        alt="House Image" />
    </figure>
    <div class="card-body">
      <h2 class="card-title">
        { house_data.name }
        <div class="badge badge-secondary">NEW</div>
      </h2>
      <p>{ house_data.description }</p>
      <div class="card-actions justify-end">
        { house_data.tags && house_data.tags.map((equipment: any) => 
          <div class="badge badge-outline">{ equipment }</div>
        )}
      </div>
    </div>
</a>