---
import Layout from "@layouts/Layout.astro";
import { Image } from "astro:assets";
import logo from "@assets/logo.svg";
import HouseCard from "@components/House/HouseCard.astro";
import image_yubari from "@assets/HunterHouseYubari.jpg";
import image_oami from "@assets/HunterHouseOami.jpg";
import Banner from "@components/House/Banner.astro";
---

<Layout title="ハンターハウスとは">
    <section class="m-8">
        <h2 class="text-3xl font-bold">ハンターハウスとは</h2>
    </section>
    <section class="m-8">
        <h2 class="text-3xl font-bold my-4">提供中のハンターハウス</h2>
        <div class="grid grid-cols-3 gap-4 ">
            <HouseCard title="ハンターハウス夕張" image={image_yubari} link="/hunter-house/yubari"/>
            <HouseCard title="ハンターハウス大網白里" image={image_oami} link=""/>
        </div>
    </section>
    <div class="divider m-8"></div>
    <section class="m-8">
        <h2 class="text-3xl font-bold my-4">物件募集中</h2>
        <div class="my-2">
            日本狩猟協会では、ハンターハウスの活動に協力してくれる方を募集しております。
        </div>
        <ul class="list-disc list-inside space-y-1">
            <li>実家が空き家で持て余してる</li>
            <li>使ってない別荘がある</li>
            <li>民泊をやっているが、猟師にも利用してもらいたい</li>
        </ul>
        <div class="my-2">
            掲載を希望される方は、<a href="/hunter-house/accepting" class="text-blue-500 hover:text-blue-700">こちら</a>より詳細をご確認ください。
        </div>
    </section>
</Layout>
