---
import Layout from '@layouts/Layout.astro';
import HouseCard from '@components/House/HouseCard.astro';
---

<Layout title="ハンターハウスに掲載する物件を募集中">
    <section>
        日本狩猟協会では、ハンターハウスに掲載したい物件主様を募集しています。
    </section>
</Layout>