---
import Layout from '@layouts/Layout.astro';
import { Image } from 'astro:assets';
---

<Layout title="ハンターハウス夕張">    
    <section class="bg-gray-100 py-8">
      <div class="container mx-auto px-4">
        <h1 class="text-4xl font-bold text-center mb-8">ハンターハウス夕張</h1>
        
        <div class="bg-white shadow-md rounded-lg p-6 mb-8">
          <h2 class="text-2xl font-semibold mb-4">所在地</h2>
          <p class="text-lg">068-0755 北海道夕張市紅葉山２４７−６２</p>
        </div>
        
        <div class="bg-white shadow-md rounded-lg p-6 mb-8">
          <h2 class="text-2xl font-semibold mb-4">料金</h2>
          <p class="text-lg">一泊 2500円</p>
        </div>
    
        <div class="bg-white shadow-md rounded-lg p-6">
          <h2 class="text-2xl font-semibold mb-4">ハンターハウスの魅力</h2>
          <p class="text-lg">
            ハンターハウスは、狩猟者向けの快適な短期滞在拠点です。広々とした室内、清潔な設備、そして自然に囲まれた静かな環境が魅力です。ハンターハウスは、狩猟者がリラックスし、次の狩猟に備えるための理想的な場所です。また、周辺には豊富な自然資源があり、狩猟のチャンスも豊富です。
          </p>
        </div>
      </div>
    </section>
    
</Layout>