---
import { getCollection } from 'astro:content';
import { getBaseURL } from '@util/url';

const posts = await getCollection('topic', ({ id }) => {
  return id.startsWith(Astro.currentLocale+'/');
});

const sortedPosts = posts.sort((a, b) => {
  // フロントマターの要素にアクセス（例えば `date` 要素があると仮定）
  const dateA = new Date(a.data.pubDate);
  const dateB = new Date(b.data.pubDate);

  return dateB.getTime() - dateA.getTime(); // 昇順にソート
});
---
<div class="flex flex-col gap-2">
{posts.map((post:any) => (
  <div class="flex gap-4">
    <time datetime={post.data.pubDate.toISOString()} class="fit-content px-2 bg-orange text-white my-auto">
      { new Intl.DateTimeFormat('ja-JP').format(post.data.pubDate) }
    </time>
    <a href={ `topic/${getBaseURL(post.slug)}` }>
      { post.data.title }
    </a>
  </div>
))}
</div>