---
import Layout from '@layouts/_layout.astro';
---

<Layout title="404">
    <div class="flex justify-center items-center font-bold text-6xl m-40">
        Sorry, page not found!
    </div>
</Layout>