---
import TopicsCarousel from "@/components/topic/topics-carousel.astro";
import ServiceCard from "@/components/service/service-card.astro";
import topImage from "@/assets/sample.jpg";
import { Image } from "astro:assets";
import Layout from "@/layouts/_layout.astro";
const services = [
  {
    title: "Hunter Community",
    description:
      "ハンター同士が情報交換したり交流できるコミュニティスペースです。",
    link: "/service1",
  },
  {
    title: "Hunter House",
    description: "ハンターが利用できる短期滞在・賃貸物件の紹介サービスです。",
    link: "/hunter-house",
  },
  {
    title: "Hunter Knowledge",
    description: "狩猟技術の保存とシェアを目指すドキュメントスペースです。",
    link: "/service3",
  },
  {
    title: "Hunter Store",
    description: "ジビエ素材の利活用を促進するためのマーケットサービスです。",
    link: "/service4",
  },
  {
    title: "Hunter Tech",
    description: "IoTやマイコンを駆使した狩猟技術のテック化プロジェクトです。",
    link: "/service5",
  },
];
---

<Layout>
  <div class="hero min-h-screen">
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="absolute h-full">
      <Image
        src={topImage}
        alt="Background Image"
        class="object-cover h-full"
      />
      <div class="absolute inset-0 bg-black opacity-50"></div>
    </div>
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-md">
        <h1 class="mb-5 text-5xl font-bold text-white">Hunting 2.0</h1>
        <p class="mb-5 text-white">狩猟をアップデートする。</p>
      </div>
    </div>
  </div>
  <div class="flex flex-col gap-16 xl:mx-40 lg:mx-20 md:mx-10 mx-5 my-16">
    <div>
      <h1 class="font-bold xl:text-5xl lg:text-4xl md:text-3xl text-2xl my-4">
        お知らせ
      </h1>
      <TopicsCarousel />
    </div>
    <div>
      <h1 class="font-bold xl:text-5xl lg:text-4xl md:text-3xl text-2xl my-4">
        サービス
      </h1>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        {
          services.map((service) => (
            <ServiceCard
              title={service.title}
              description={service.description}
              link={service.link}
            />
          ))
        }
      </div>
    </div>
  </div>
</Layout>