---
import PositionCard from "@components/recruit/position-card.astro";
import Layout from "@layouts/_layout.astro";
---

<Layout title="人材募集ポジション">
    <div class="mx-40 my-20">
        <div class="text-center text-4xl font-bold m-12">募集ポジション</div>
        <div class="my-16">
            日本狩猟協会では、以下のポジションで人材を募集しています。<br />
            ご興味のある方は、X, discord, facebookのいずれかより「活動協力」の旨を添えてお問い合わせください。<br />
            なお、活動は全てボランティアです。<strong>報酬はありませんので、ご注意ください。</strong><br />
        </div>
        <div class="grid col-span-1 gap-8">
            <PositionCard
                title="日本狩猟協会Webサイトのメンテナー"
                skill="astro, docker, tailwind, git, javascript"
                description=`
                日本狩猟協会のHPをメンテナンスしていただける方を募集しています。
                基本的なhtmlが理解できれば、それほど難しくないので、astro未経験の方でも大丈夫です。
                `
            />
            <PositionCard
                title="イベントプロデューサー"
                skill="facebookでのイベント開催経験"
                description=`
                日本狩猟協会が主催するイベントを企画し、実行してくれるメンバーを募集しています。
                過去に企画したイベントの一例を出すと、「茨城県キョン探しツアー」「江戸川潮干狩り」といった感じです。
                必ずしも狩猟に関係する必要はないです。笑
                コミュニティが盛り上がるようなイベントを一緒に考えてくれるメンバーを求めています！
                `
            />
            <PositionCard
                title="狩猟ブログのライター"
                skill="なにかしらの執筆経験"
                description=`
                日本狩猟協会が運営する狩猟ブログ「Hunter Blog」に記事を寄稿してくれるメンバーを募集中です。
                執筆記事の内容は、ご自身で考案してもらって大丈夫です。最低執筆文字数といったノルマもありません。
                SEO向けテクニックも十分にサポートしますので、現時点でブログ運営に詳しくなくても問題ありません！
                `
            />
        </div>
    </div>
</Layout>
