<div class="bg-white p-6 rounded-lg shadow-lg border border-gray-200 max-w-md w-full">
    <div class="flex items-center">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-blue-500 mr-4" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M2 10a8 8 0 1116 0 8 8 0 01-16 0zm8-4a4 4 0 100 8 4 4 0 000-8zm-1 4a1 1 0 112 0v1a1 1 0 01-2 0v-1zm0-3a1 1 0 100 2h.01a1 1 0 100-2H9zm0 6a1 1 0 100 2h.01a1 1 0 100-2H9z" clip-rule="evenodd" />
      </svg>
      <div>
        <h1 class="text-xl font-semibold text-gray-900">掲載物件募集中</h1>
        <p class="text-gray-600">あなたの物件を掲載して新しいお客様を見つけましょう。</p>
      </div>
    </div>
    <div class="mt-6">
      <button class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-lg w-full">
        詳細を見る
      </button>
    </div>
  </div>