---
import { getRelativeLocaleUrl } from "astro:i18n";

import { Image } from "astro:assets";
import logo from "@assets/logo.svg";
import name from "@assets/company-name.png";
import LanguageButton from "@components/Base/LanguageButton.astro";
import DarkModeButton from "./DarkModeButton.astro";
---

<div class="navbar xl:px-40">
  <div class="">
    <a href={getRelativeLocaleUrl(Astro.currentLocale as string, "/")}>
      <Image src={logo} alt="" class="object-contain h-10 w-10" />
    </a>
  </div>
  <div class="flex-1 flex items-center justify-center">
    <Image
      src={name}
      alt=""
      class="xl:w-60 lg:w-48 md:w-40 sm:w-40 w-36"
    />
  </div>
  <div class="">
    <LanguageButton />
  </div>
</div>