---
import { getBaseURL } from "@util/url"
const url = getBaseURL(Astro.url.pathname);

import { getRelativeLocaleUrl } from 'astro:i18n';
const aboutURL_en=getRelativeLocaleUrl("en", url);
const aboutURL_ja=getRelativeLocaleUrl("ja", url);

const active_ja = Astro.currentLocale == 'ja' ? 'active' : '';
const active_en = Astro.currentLocale == 'en' ? 'active' : '';
---

<div class="language-select-field">
    <a href={ aboutURL_ja } class=`language-select-button ${active_ja}`>
        JP
    </a>
    <div class="separation">|</div>
    <a href={ aboutURL_en } class=`language-select-button ${active_en}`>
        EN
    </a>
</div>

<style>
.language-select-field {
    display: flex;
    margin: 0 20px 0 auto;
}

.language-select-button {
    margin: auto 5px;
    color: var(--color-text);
}

.separation {
    margin: auto 5px;
}

.active {
    font-weight: bold;
}

.passive {

}
</style>