/* color palette */
:root {
  --vt-c-white: #f9fcfb;
  --vt-c-white-pure: #ffffff;
  --vt-c-white-soft: hsl(180, 10%, 98%);
  --vt-c-white-mute: hsl(0, 0%, 95%);

  --vt-c-black: #181818;
  --vt-c-black-pure: #000000;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;
  --vt-c-red: #FD5E53;
  --vt-c-red-alpha: #2c3e501f;
  --vt-c-palegreen: #B0EACD;
  --vt-c-darkgreen: #21BF73;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-header: var(--vt-c-white-mute);

  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);
  --color-background-pure: var(--vt-c-white-pure);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);
  --color-division-line: var(--vt-c-text-light-1);

  --color-footer: var(--vt-c-white-mute);
  --color-footer-text: var(--vt-c-text-light-2);

  --section-gap: 160px;

  --inverted-value: 0%
}

/* @media (prefers-color-scheme: dark) {
  :root { */
[data-mode='dark'] {
  --color-header: var(--vt-c-black-mute);

  --color-background: var(--vt-c-black);
  --color-background-soft: var(--vt-c-black-soft);
  --color-background-mute: var(--vt-c-black-mute);
  --color-background-pure: var(--vt-c-black-pure);

  --color-border: var(--vt-c-divider-dark-2);
  --color-border-hover: var(--vt-c-divider-dark-1);

  --color-heading: var(--vt-c-text-dark-1);
  --color-text: var(--vt-c-text-dark-2);
  --color-division-line: var(--vt-c-text-dark-2);

  --color-footer: var(--vt-c-black-mute);
  --color-footer-text: var(--vt-c-text-dark-2);
  --inverted-value: 100%
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
