<section class="bg-orange">
  <div class="text-8xl font-bold left-4 bottom-4 absolute text-white">狩猟2.0</div>
</section>
  
<style scoped>
#company-introduction-section {
  height: calc(100vh - 70px);
  width: 100%;
  margin: 0 0 30px;
  position: relative;
  overflow: hidden;
}

#company-introduction-section > video {
  width: auto;
  height: auto;
}

.top-image {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.mission {
  position: absolute;
  bottom: 5vh;
  font-size: 10vw;
  font-weight: bold;
  left: 3vw;
}

.mission.shadow {
  bottom: 2vh;
  left: 3vw;
  font-size: calc(11rem * 1vw);
  color: rgb(243, 243, 243);
}
</style>