---
const { name, sns, icon, role, description,} = Astro.props;
import { Image } from 'astro:assets';
---

<div class="bg-gray-100 rounded-xl overflow-hidden shadow-lg flex sm:flex-row flex-col gap-6 p-4">
    <div class="flex items-center justify-center">
        <Image
            class="sm:w-full w-1/2 aspect-square object-cover rounded-full"
            src={ icon }
            alt="Person Image"
            width={300}
        />
    </div>
    <div class="xl:w-3/4 flex flex-col gap-4">
        <h2 class="text-2xl font-bold">
            <a href={ sns } class="text-blue-500 hover:underline" target="_blank">{ name }</a>
        </h2>
        <p class="text-gray-700">{ role }</p>
        <p class="text-gray-600">{ description }</p>
    </div>
</div>
